{% extends "base.html" %}

{% block content %}
    <h1>Bienvenido {{ current_user.username }}!</h1>
    <div style="margin-bottom: 10px;">
        <img src="{{ url_for('static', filename='imgs/Logo.jpeg') }}" alt="Logo Supermercado Williams" style="height: 120px; border-radius: 8px; display: block;">
    </div>
    <div>
        <p>Supermercado Williams, tu supermercado virtual favorito.</p>
    </div>

    <h2>Productos Destacados</h2>
    <div class="product-list">
        {% for product in products %}
            <div class="product-card">
                {% if product.image_url %}
                    <img src="{{ url_for('static', filename='imgs/' + product.image_url) }}" alt="{{ product.name }}">
                {% else %}
                    <img src="{{ url_for('static', filename='images/default_product.png') }}" alt="{{ product.name }}">
                {% endif %}
                <h3><a href="{{ url_for('product_detail', product_id=product.id) }}">{{ product.name }}</a></h3>
                <p>${{ "%.2f"|format(product.price) }}</p>
                <p>Stock: {{ product.stock }}</p>
                <form action="{{ url_for('product_detail', product_id=product.id) }}" method="post">
                    {{ form.hidden_tag() }}
                    <input type="hidden" name="quantity" value="1">
                    <button type="submit">Agregar al Carrito</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}