{% extends "base.html" %}

{% block content %}
    <h1>Bienvenido {{ current_user.username }}!</h1>
    <p>Supermercado Williams, tu supermercado virtual favorito.</p>

    <h2>Productos Destacados</h2>
    <div class="product-list">
        {% for product in products %}
            <div class="product-card">
                <img src="{{ product.image_url or url_for('static', filename='images/default_product.png') }}" alt="{{ product.name }}">
                <h3><a href="{{ url_for('product_detail', product_id=product.id) }}">{{ product.name }}</a></h3>
                <p>${{ "%.2f"|format(product.price) }}</p>
                <p>Stock: {{ product.stock }}</p>
                <form action="{{ url_for('product_detail', product_id=product.id) }}" method="post">
                    {{ product_detail_form.hidden_tag() }} {# Agrega esto si decides usar el formulario de AddToCartForm aquí #}
                    <input type="hidden" name="quantity" value="1">
                    <button type="submit">Agregar al Carrito</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}